div_2 { 
	overflow:hidden;
	height:100vh;
	width:100vw;
	background:#1d1e22;
	--c1: #1d1e22;
	--c2: #444857;
	background-image: -webkit-linear-gradient(top, var(--c1), var(--c2));
	background-image: -moz-linear-gradient(top, var(--c1), var(--c2)));
	background-image: -o-linear-gradient(top, var(--c1), var(--c2)));
	background-image: -ms-linear-gradient(top, var(--c1), var(--c2)));
	background-image: linear-gradient(top, var(--c1), var(--c2)));
  }
  
  
#svg_8{transform-origin:center;}
	  
svg_hs {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  filter: url('#filter-broken');
  /*
  url('#glow');
  */
}
#svg_12 {
  url('#glow');
  mix-blend-mode:multiply;
  transform-origin:center;
}
.path {
  animation:  animation1 3s ease-in-out 1s infinite alternate;
  fill-opacity: .25;
}
.p_0{
  animation:  animation2 3s ease-in-out .5s infinite alternate;
}

@keyframes animation1 {
  from {transform: perspective(400px) rotateX(20deg);}
  to {transform: perspective(400px) rotateX(-20deg);}
  from {transform: perspective(400px) rotateY(20deg);}
  to {transform: perspective(400px) rotateY(-20deg);}  
  from {stroke-width: 1;}
  to {stroke-width: 9;}
}

@keyframes animation2 {
  from {transform: perspective(400px) rotateX(20deg);}
  to {transform: perspective(400px) rotateX(-20deg);}
  from {transform: perspective(400px) rotateY(20deg);}
  to {transform: perspective(400px) rotateY(-20deg);}  
  from {stroke-width: 1;}
  to {stroke-width: 2;}
  from {stroke-opacity: .4;}
  to {stroke-opacity: 1;}
}
