.center {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 75%
  	padding: padding:20px 15px 15px 20px;
  	}

body {
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
padding:padding:10px 5px 15px 20px;;
}

h1 {
  color: black;
  margin: 35px
}

h5 {
	font-size: 14px;
}

p {
  color: black;
}

#map_s {
	height: 300px;
	padding:10px 5px 15px 20px;
}

#boroMap {
	height: 450px;
	padding:10px 5px 15px 20px;
}

footer {
	font-size: 13px;
	font-weight: 30px
	padding:35px ;

}

header{
	padding: 35px;

}